/* Colocando aceitação de acentos */
@charset "UTF-8";

/* Importando fontes */
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Declarando variáveis */
:root {
    --cor0: #c5ebd6;
    --cor1: #83E1Ad;
    --cor2: #3DDB84;
    --cor3: #2FA866;
    --cor4: #063D1E;
    --cor5: #063d1e;
    --font0: Arial, Verdana, Helvetica, sans-serif;
    --font1: 'Bebas Neue', cursive;
    --font2: 'Android', sans-serif;
}

/* Todos os elementos (h1,h2,h3,p e etc) não tem margin nem padding */

* {
    margin: auto;
    padding: auto;
}

.externo::after {
    content: '\00A0\1F517';
}


/* Configurações do body */
body {
    font-family: var(--font0);
    background-color: var(--cor0);
}

/* Configurações do header */
header {
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
    color: white;
    padding-top: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    padding-bottom: 30px;

}

header h1 {
    font-family: var(--font1);
    font-size: 3em;
    font-weight: lighter;
    margin-bottom: 20px;

}

header p {
    font-family: var(--font0);
    font-size: 1.2em;
    max-width: 500px;
    font-weight: lighter;
    padding: auto 10px auto 10px;



}

nav {

    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    text-align: left;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    padding: 10px;

}

nav>a {
    border-radius: 5px;
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.2s;
}

nav a:hover {
    background-color: var(--cor3);
}

/* Configurações do main */
main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto auto 20px auto;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.397);


}

main h1 {
    font-family: var(--font2);
    font-size: 1.8em;
    color: var(--cor4);

}

main h2 {
    font-family: var(--font2);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    font-size: 1em;
    line-height: 2em;
    text-align: justify;
    text-indent: 30px;

}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px;
    border-radius: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

/* Responsividade video */

.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%
}

/* Configurações do aside */
aside {
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    padding: 10px;

}

aside h3 {
    font-family: var(--font0);
    font-weight: bolder;
    background-color: var(--cor3);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

aside ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

/* Configurações do footer */
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

/* responsividade da imagem */
picture img {
    width: 100%;
}

.pequena {
    display: block;
    width: auto;
    margin: auto;
}